
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #F5F5F5;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h2{
        margin-bottom: 5px;
    }
}

.info-text{
    font-size: 12px;
    color: rgb(114, 111, 106);
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    input{
        padding: 10px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 1px solid #b8b6b6;
        border-radius: 5px;
        outline: none;
    }
}

.button-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/*BUTTONS*/

#login-btn{
    background-color: #3398DC;
    transition: background-color 0.3s;
}

#login-btn:hover{
    background-color: #17689e;
}

#admin-btn{
    background-color: #2A3F50;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

#admin-btn:hover{
    background-color: rgb(19, 30, 39);
}

#login-btn, #admin-btn{
    font-size: 14px;
    border: none;
    font-weight: 500;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 20px 1px #d1d0d0;
    box-sizing: border-box;
    overflow: hidden;
    height: 450px;
    width: 400px;
}

.footer-container{
    margin-top: 10px;
    a{
        text-decoration: none;
        color: #3398DC;
        font-weight: 500;
        margin-left: 5px;
        cursor: pointer;
    }
}

i {
    margin: 0 5px;
}
