
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

main{
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    padding: 14px 32px;
    column-gap: 32px;
    background-color: #222;
}

main img{
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 32px;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    box-shadow: 0 0 5px #272727;
}

@keyframes reveal {
    from{
        opacity: 0;
        scale: 0.5;
        translate: 0 100px;
    }
    to{
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}