
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #222;
}

h1{
    margin-bottom: 20px;
    color: #eeeeeed8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

select{
    width: 370px;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #5c5c5c;
    color: #eee;

    &::picker-icon {
        display: none;
    }
}

select,
select::picker(select) {
  appearance: base-select;
}

select::picker(select) {
  width: 250px;
  margin: 0.5rem 0;
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 25px #0000001a;
  background-color: #5c5c5c;
}

.text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    gap: 5px;
}

selectedcontent, option {
    background-color: #5c5c5c;
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    transition: background-color 200ms ease-out;
    
    &::checkmark {
        display: none;
    }
    &:nth-child(2):hover{
        background-color: #F06529;
    }
    &:nth-child(3):hover{
        background-color: #663399;
    }
    &:last-child:hover{
        background-color: #194D33;
    }
}

