*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffece5;
}

.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.5fr auto 0.5fr 0.3fr;
    min-width: 20%;
    min-height: 40%;
    padding: 15px;
    border-radius: 15px;;
    background-color: #fafafa;
    gap: 10px;
    box-shadow: 6px 10px 10px -1px #b4b1b196;
    -webkit-box-shadow: 3px 8px 10px -1px #b4b1b196;
    -moz-box-shadow: 3px 10px 10px -1px #b5b2b296;
}

.card > span {
    color: #4d4a4a;
    font-weight: 500;
}

.product-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 300px 100px;
    border: solid 2.2px #ff4500;
    border-radius: 20px;
}

.arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        cursor: pointer;
    }
}

.product-info{
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: 150px;
    gap: 15px;
}

.product-image{
    display: flex;
        justify-content: center;
        align-items: center;
    img{
        width: 150px;
        height: auto;
    }
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.points{
    display: flex;
    align-items: center;
    gap: 5px;
}

.options-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: #4d4a4a;
    background-color: #f1f0f5;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    overflow-wrap:break-word;
}

.active{
    border: solid 2.2px #ff4500;
}

button{
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}